---
name: Publish Images

on:
  workflow_call:

jobs:
  push-image:
    strategy:
      matrix:
        image: ['controller', 'executor', 'cli']
    runs-on: ubuntu-latest
    permissions:
      actions: none
      checks: none
      contents: none
      deployments: none
      issues: none
      packages: write
      pull-requests: none
      repository-projects: none
      security-events: none
      statuses: none
      id-token: write

    steps:
      - name: Clone repo
        uses: actions/checkout@v3
      - name: Login to GitHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get image tag
        id: get_image_tag
        run: |
          if [[ "${GITHUB_REF##*/}" == "master" ]]; then
            echo "::set-output name=image_tag::latest"
          else
            echo "::set-output name=image_tag::${GITHUB_REF##*/}"
          fi
      - name: Docker Metadata
        id: docker_meta
        uses: docker/metadata-action@v4.1.1
        with:
          images: |
            ghcr.io/appvia/terranetes-${{ matrix.image }}
          flavor: |
            latest=auto
          tags: |
            type=raw,value=${{ steps.get_image_tag.outputs.image_tag }}
      - name: Build & Push
        uses: docker/build-push-action@v3.0.0
        with:
          build-args: VERSION=${{ steps.get_image_tag.outputs.image_tag }}
          context: .
          file: "./images/Dockerfile.${{ matrix.image }}"
          labels: ${{ steps.docker_meta.outputs.labels }}
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
      - name: Install Cosign
        uses: sigstore/cosign-installer@v2.8.1
      - name: Sign image
        env:
          TAGS: ${{ steps.docker_meta.outputs.tags }}
          COSIGN_EXPERIMENTAL: 1
        run: cosign sign ${TAGS}
