name: Latest

on:
  push:
    branches: [master]

env:
  REGISTRY: quay.io
  REGISTRY_ORG: appvia
  VERSION: latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.18.1'
    - name: Build
      run: make

  verify-images:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Build
      run: make
    - name: Images
      run: make images
    - name: Scanning Images
      run: make verify-images

  release_latest:
    needs: verify-images
    runs-on: ubuntu-latest
    steps:
    - name: Build
      run: make
    - name: Docker Login
      env:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD quay.io
    - name: Pushing Images
      run: make release-images
